{% extends 'crochet/base.html' %}

{% block content %}
<h2>Crochet Projects</h2>
<a href="{% url 'add_project' %}" class="btn btn primary mb-3">Add New Project</a>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Skill Level</th>
            <th>Materials Needed</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>{{ project.name }}</td>
            <td>{{ project.description }}</td>
            <td>{{ project.skill level }}</td>
            <td>{{ project.Materials Needed }}</td>
            <td>{{ project.Notes }}</td>
            <td>
                <a href="{% url 'edit_project' item.id %}" class="btn btn-warning btn-sm">Edit Project</a>
                <a href="{% url 'delete_project' item.id %}" class="btn btn-warning btn-sm">Delete Project</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="textcentre">No projects found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}