{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container text-center">
    <h1>Welcome to The Crochet Nook</h1>
    <p>Select a category to explore:</p>

    <div class="row">
        <div class="col-md-4">
            <a href="{% url 'category_view' 'Blankets' %}">
                <img src="{% static 'images/blanket.png' %}" alt="Blankets" class="img-fluid rounded">
                <h3>Blankets</h3>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'category_view' 'Cardigans' %}">
                <img src="{% static 'images/cardigan.png' %}" alt="Cardigans" class="img-fluid rounded">
                <h3>Cardigans</h3>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'category_view' 'Amigurumi' %}">
                <img src="{% static 'images/amigurumi.png' %}" alt="Amigurumi" class="img-fluid rounded">
                <h3>Amigurumi</h3>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'category_view' 'Scarves' %}">
                <img src="{% static 'images/scarves.png' %}" alt="Scarves" class="img-fluid rounded">
                <h3>Scarves</h3>
            </a>
        </div>
        <div class="col-md-4">
            <a href="{% url 'category_view' 'Hat' %}">
                <img src="{% static 'images/hats.png' %}" alt="Hat" class="img-fluid rounded">
                <h3>Hat</h3>
            </a>
        </div>
    </div>
</div>
{% endblock %}
