{% extends 'base.html' %}
{% block title %}All Projects{% endblock %}
{% block content %}
<h2>My Crochet Projects</h2>
<ul>
    {% for project in projects %}
        <li>
            <strong>{{ project.name }}</strong> - {{ project.status }}<br>
            <em>{{ project.difficulty_level }}</em> • {{ project.yarn_type }} • {{ project.date_started|date:"M d, Y" }}<br>
            <a href="{% url 'project_detail' project.pk %}">View</a> |
            <a href="{% url 'project_update' project.pk %}">Edit</a> |
            <a href="{% url 'project_delete' project.pk %}">Delete</a>
        </li>
    {% empty %}
        <li>No crochet projects found. Add one!</li>
    {% endfor %}
</ul>
{% endblock %}



